
#site_header {

    background: -moz-linear-gradient(top, rgba(102,102,102,0.65) 0%, rgba(102,102,102,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,0.65)), color-stop(100%,rgba(102,102,102,0)));
    background: -webkit-linear-gradient(top, rgba(102,102,102,0.65) 0%,rgba(102,102,102,0) 100%);
    background: -o-linear-gradient(top, rgba(102,102,102,0.65) 0%,rgba(102,102,102,0) 100%);
    background: -ms-linear-gradient(top, rgba(102,102,102,0.65) 0%,rgba(102,102,102,0) 100%);
    background: linear-gradient(to bottom, rgba(102,102,102,0.65) 0%,rgba(102,102,102,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6666666', endColorstr='#00666666',GradientType=0 );

    height:150px;
    position: relative;


    border-bottom: 2px solid #000;
    margin-bottom:20px;

}

#logo {
    position: absolute;
    left:0px;
    top:0px;
    bottom: 0px;

    height:inherit;

    z-index: 20;

}

#logo a {
    height: inherit;
}

#logo img {
    height:inherit;
}


#site_header .banner {
    position: absolute;
    right:0px;
    height: inherit;
    top:0px;
    bottom: 0px;
    z-index: 5;
}

#site_header .nav {
    position: absolute;
    top:0px;
    right:10px;


    z-index: 30;
}

#site_header .nav li {
    display:inline-block;
    padding:0px;
    border-left:none;

}

#site_header .nav li a {

    background-color: #444;

    color:#FFF;
    text-decoration:none;
    font-size:1.3em;
    padding: 5px 15px;

    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    font-family: "Dosis", "Raleway",sans-serif;




}

#site_header .nav li a:hover {

    color: #e05996;

}

#site_header .nav li a.active {
    background:none;
}